.bubbles{
	filter:blur(3px);
	position:fixed;
	width:100%;
	height: 100%;
	z-index:-1;
	overflow:hidden;
	top:0;
	left:0;
  }
  .bubble{
	position: absolute;
	bottom:-100px;
	width:40px;
	height: 40px;
	background:#003f3b6f;
	border-radius:50%;
	opacity:0.5;
	animation: rise 20s infinite ease-in;
  }
  .bubble:nth-child(1){
	width:40px;
	height:40px;
	left:10%;
	animation-duration:16s;
  }
  .bubble:nth-child(2){
	width:20px;
	height:20px;
	left:20%;
	animation-duration:10s;
	animation-delay:-1s;
  }
  .bubble:nth-child(3){
	width:50px;
	height:50px;
	left:35%;
	animation-duration:14s;
	animation-delay:4s;
  }
  .bubble:nth-child(4){
	width:80px;
	height:80px;
	left:50%;
	animation-duration:22s;
	animation-delay:0s;
  }
  .bubble:nth-child(5){
	width:35px;
	height:35px;
	left:55%;
	animation-duration:12s;
	animation-delay:2s;
  }
  .bubble:nth-child(6){
	width:45px;
	height:45px;
	left:65%;
	animation-duration:16s;
	animation-delay:6s;
  }
  .bubble:nth-child(7){
	width:90px;
	height:90px;
	left:70%;
	animation-duration:24s;
	animation-delay:4s;
  }
  .bubble:nth-child(8){
	width:25px;
	height:25px;
	left:80%;
	animation-duration:12s;
	animation-delay:4s;
  }
  .bubble:nth-child(9){
	width:15px;
	height:15px;
	left:70%;
	animation-duration:10s;
	animation-delay:2s;
  }
  .bubble:nth-child(10){
	width:90px;
	height:90px;
	left:25%;
	animation-duration:20s;
	animation-delay:8s;
  }
  @keyframes rise{
	0%{
	  bottom:-100px;
	  transform:translateX(0);
	}
	50%{
	  transform:translate(100px);
	}
	100%{
	  bottom:1080px;
	  transform:translateX(-200px);
	}
  }



html {
	overflow-x: hidden;
  }

body {
	font-family: 'Noto Sans', sans-serif;
	color: #ffffff;
	background: #005853;
	overflow: hidden;
	
	/*background-image: linear-gradient(to bottom right, #005853, #001816);*/
	/*background: linear-gradient(-30deg, #012220, #012220 75%, #04453a 75%  #04453a 100%);*/
	background: radial-gradient( rgb(0, 60, 46) 0%, black 100%);
	background-repeat:unset;
	background-position: -450px -850px;
	background-size: 300% 300%;
}

@keyframes gradient {
	0% {
		background-size: 100% 100%;
	}
	50% {
		background-size: 200% 200%;
	}
	100% {
		background-size: 100% 100%;
	}
}